
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html{
        scroll-behavior: smooth;
        cursor: pointer;
    }
    header{
        width: 100%;
        height: 100vh;
    }
    .header-container{
        display: flex;
        
    }
    .header-text{
        width: 70%;
        padding: 150px 0px 0px 40px;
       
    }
    .header-subtext{
        display: flex;
        font-size: 30px;
    }
    .header-img{
        
        background-size: cover;
        width: 30%;
        height: 100vh;
        
    }
    .header-icons{
        margin: -40px 0px 0px 40px;
    
    }
    .about-me{
        background-color: black;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-me img{
        margin-top: 0px;
    
    }
    .about-me h3{
        color: white;
        text-align: center;
        padding-top: 20px;
    }
    .about-me p{
        color: white;
        text-align: justify;
        padding: 20px 50px 0px 50px;
    }
    .about-me button{
        width: 100px;
        height: 40px;
        background-color: tomato;
        color: white;
        margin: 15px 0px 50px 50px;
        border:none;
    }
    .gallery{
        background-color: white;
    }
    .gallery h3{
        text-align: center;
        margin: 50px 0px 20px 0px;
        font-size: 50px;
    }
    .gallery a{
        color:black;
        text-decoration: none;
        transition: 0.5s ease;
        margin-left: 32px;
    }
    .gallery-links{
        padding-bottom: 50px;
    }
    .gallery a:hover{
        color: tomato;
    
    }
    .gallery-imgs{
        display: grid;
        grid-template-columns: 1fr;
        width:100%;
        grid-gap: 10px;
    }
    .mona-lisa-img{
        width: 100%;
        height: 400px;  
    }
    .gallery button{
        width: 100px;
        height: 40px;
        background-color: tomato;
        color: white;
        margin: 15px 0px 50px 50px;
        border:none;
        margin-left: 140px;
    }
    .price-section{
        text-align: center; 
    }
    .prices-main-box{
       display: grid; 
    }
    .prices-sub-box{
        margin: 20px;  
    }
    .prices-sub-box h3{
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .prices-sub-box p{
        padding-bottom: 20px;
    }
    .pencil-potraits{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;  
    }
    .prices-sub-box-with-border{
        margin: 20px;  
        border:1px solid black;
        
    }
    .prices-sub-box-with-border h3{
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .prices-sub-box-with-border p{
        padding-bottom: 20px;
    }
    .potraits-button{
        width: 100px;
        height: 40px;
        background-color: tomato;
        color: white;
        margin: 15px 0px 50px 50px;
        border:none;
       margin-right: 50px;
    }
    footer{
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        padding-bottom: 30px;
    }
    footer a{
        color: white;
        padding-bottom: 5px;
    }
    footer a:hover{
        color: tomato;
    
    }
    .footer-nav{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        padding-top: 20px;
    }
    footer button{
        width: 100px;
        height: 40px;
        background-color: tomato;
        color: white;
        border: none;   
        
    }
    footer h3{
        padding: 50px 0px 30px 0px;
        font-size: 30px;
    }
    footer p{
        padding-bottom: 10px;
    }
    footer input{
        height: 40px;
        width: 50%;
    border: 1px solid tomato;
    }


@media screen and (min-width:1000px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html{
        scroll-behavior: smooth;
        cursor: pointer;
    }
    header{
        width: 100%;
        height: 100vh;
    }
    .header-text{
        width: 70%;
        padding: 300px 0px 0px 150px;
        font-size: 50px;
        
    }
    .header-subtext{
        display: flex;
        font-size: 30px;
    }
    .header-subtext h3{
        padding: 10px;
    }
    .header-icons{
        margin: -80px 0px 0px 150px;
        font-size: 30px;
    }
    .about-me{
        background-color: black;
        width: 100vw;
        height: 80vh;
        display: flex;
        
    }
    .about-me img{
        margin-top: 100px;
        margin-left: 50px;
        width: max-content;
    
    }
    .about-me h3{
        color: white;
        text-align: center;
        padding-top: 250px;
    }
    .about-me p{
        color: white;
        text-align: justify;
        padding: 20px 150px 0px 150px;
    }
    .about-me button{
        width: 100px;
        height: 40px;
        background-color: tomato;
        color: white;
        margin: 15px 0px 50px 150px;
        border:none;
    }
    .gallery-imgs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width:90%;
        grid-gap: 10px;
        margin: 0px 0px 0px 50px; 
    }
    .gallery a{
        color:black;
        text-decoration: none;
        transition: 0.5s ease;
        margin-left: 300px;
        font-size: 30px;
    }
    .mona-lisa-img{
        width: 100%;
        height: 100%;
         
    }
    .artwork{
        height: 100%;
        width: 100%;
    }
    .gallery button{
        width: 100px;
        height: 40px;
        background-color: tomato;
        color: white;
        margin: 45px 0px 50px 670px;
        border:none;
    
    }
    .prices-main-box{
        display: flex; 
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        font-size: 30px;
     }
     footer{
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        text-align: center;
        padding-bottom: 60px;
        font-size: 30px;
    }
    footer a{
        color: white;
        padding-top: 10px;
        text-decoration: none;
    }
    footer button{
        width: 100px;
        height: 60px;
        background-color: tomato;
        color: white;
        border: none;      
    }
    footer input{
        height: 60px;
        width: 50%;
    border: 1px solid tomato;
    }
}
